body {
  font-family: "Segoe UI", sans-serif;
  background-color: #f5f6fa;
  margin:0;
  padding:0;
}

.container {
    width: 90%;
    max-width: 1000px;
    margin: 2rem auto;
    background: #fff;
    color: darkgrey;
    padding: 2rem;
    border-radius: 10px;
    box-shadow:0 2px 10px rgba(0,0,0,0.1);
}

h2, h1 {
    color: darkgrey;
}

.product {
    border-bottom: 1px solid #eee;
    padding: 10px 0;

    &:last-child {
        border-bottom: none;
    }

    h3 {
        color: #0078d7;
        cursor: pointer;
        transition: color 0.2s;
        &:hover {
            color: #0056a3;
        }
    }
}